@inject Portal.Services.IBaseService<Portal.Data.Entities.FileStorage> fileService
@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Files";
    var files = fileService.GetAll();
}
<form asp-action="UploadFile" asp-controller="File" method="post" enctype="multipart/form-data">
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="uploadedFile" name="uploadedFile" required>
        <button type="submit" class="input-group-text btn-primary" for="uploadedFile">Upload</button>
    </div>
</form>
<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach(Portal.Data.Entities.FileStorage file in files)
    {
        <div class="col">
            <div class="card">
                @if (file.FileType == (int)Portal.Controllers.FileType.Pdf)
                {
                    <img src="https://www.svgrepo.com/show/28209/pdf.svg" class="card-img-top" alt="@file.FileName">
                }
                else if (file.FileType == (int)Portal.Controllers.FileType.Image)
                {
                    <img src="~/uploads/@file.FileName" class="card-img-top" alt="@file.FileName">
                }
                else
                {
                    <img src="https://cdn-icons-png.flaticon.com/512/101/101671.png" class="card-img-top" alt="@file.FileName">
                }
                <div class="card-body">
                    <h5 class="card-title">@file.FileDownloadName</h5>
                    <a href="@Url.Action("DownloadFile", "File", new { id = file.Id })" class="btn btn-primary btn-sm">Download</a>
                    <a href="@Url.Action("Delete", "File", new { id = file.Id })" class="btn btn-danger btn-sm">Delete</a>
                    <a href="#" data-url="@Url.Action("LoadPartial", "File", new { id = file.Id })" class="open-modal btn btn-info btn-sm">View</a>
                </div>
            </div>
        </div>
    }
</div>
